@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Epilogue";
  background-color: hsl(0, 0%, 98%);
}


header{
  display: flex;
  justify-content: flex-start;
  padding: 20px 2%;
  font-weight: 400;
}
.sidebar{
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  justify-content: flex-start;
  padding: 20px 2%;
  font-weight: 400;
  z-index: 999;
}

.sidebar.show{
  display: flex;
}

.nav_links{
  list-style: none;
  padding-left: 40px;
}

.nav_links > li{
  display: inline-block;
  padding: 0 15px;
}

.features-label:hover{
  font-weight: 600;
}

.features-label:hover{
  font-weight: 600;
}

.company-label:hover,.careers:hover,.about:hover{
  font-weight: 600;
}



.login_button{
  background-color: hsl(0, 0%, 98%);
  margin-left: auto;
  border: none;
}
.register_button{
  margin-left: 20px;
}
.register_button{
  background-color: hsl(0, 0%, 98%);
  border: black solid 3px;
  border-radius: 13px;
  padding: 8px 12px;
  margin-top: 0;
  transform: translateY(-10px);
  font-size: medium;
}
.logo{
  height: 30px;
  width: 80px;
}
section{
  display: flex;
  align-content: flex-start;
}
.content{
  width: 500px;
  margin-left: 15%;
  padding-top: 10vh;
}
.picture{
  width: 500px;
}
.picture img{
  display: flex;
  width: 400px;
  height: auto;
  margin-left: 20%;
}

h1{
  font-size: 80px;
  font-weight: bolder;
  margin-top: 25px;
}
p{
  margin-top: 7vh;
  font-size: larger;
  line-height: 1.4;
}

.learn_more_button{
  background-color: black;
  color: white;
  font-weight: bold;
  border: black 2px solid;
  width: 170px;
  height: 50px;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 5vh;
  
}
.logos img{
  margin: 8vh 10px;
}

#audiophile {
  position: relative;
  top: 10px;
}
.arrow{
  position: relative;
  bottom: 1px;
  left: 3px;
}
.dropdown_menu ,.dropdown_menu_company{
  display: none;
  position: absolute;
  padding: 10px 15px;
  margin-left: -40px;
  margin-top: 10px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.dropdown_menu li,.dropdown_menu_company li{
  list-style: none;
  margin-top: 10px;
  
}
.dropdown_menu.dropdown_menu_active{
  display: block;
}
.dropdown_menu_company.dropdown_menu_active{
  display: block;
}

.menu{
  display: none;
}

@media(max-width:1150px){
  .picture{
    width: 100%;
    margin-right: 0;
  }
  .picture img{
    content:url('images/image-hero-mobile.png');
    width: 100%;
    margin-left: 0;
  }
 .content {
    width: 100%;
    margin-left: 0;
    padding: 0 20px;
  }


  header .nav_links{
    display: none;
  }
  header .login_button{
    display: none;
  }
  header .register_button{
    display: none;
  }
  .menu{
    display: flex;
    margin-left: auto;
    width: 26;
  }
  section{
    display: flex;
    flex-direction: column-reverse;
  }
  .sidebar .nav_links>li{
    margin-top: 25px;
    padding-left: 5px;
    display: block;

  }
  .sidebar .login_button{
    margin-left: 105px;
    margin-top: 60px;
    font-size: 18px;
    display: block;
  }

  .sidebar .register_button{
    transform: translateY(10px);
    display: flex;
    align-self: center;
    margin-top: 10px;
    padding: 12px 60px;
    
  }
  .sidebar{
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    padding-left: 0;
  }
  .close{
    margin-left: auto;
  }
  .dropdown_menu ,.dropdown_menu_company{   
    position: relative;
    box-shadow: none;
    margin-left: 0;  
  }
  .logos{
    display: flex;
    justify-content: center;
  }
  .logos img{
    margin-left: 20px;
  }
  .learn_more_button {
    display: block;
    margin: 5vh auto;
    
  }

  
}
@media(max-width:500px){
  .logos{
    display: flex;
    justify-content: space-around;
  }
  .logos img{
    margin-left: auto;
    width: 20%;
  }
}


